VBox {
    -fx-background-color: #a1a1a1;
}

ComboBox {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-background-radius: 3px;
}

Button {
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
    -fx-background-color: #3dadff;
    -fx-padding: 5px 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

Button:hover {
    -fx-background-color: #3880b5;
}

.optionsButton {
    -fx-padding: 4px 5px;
    -fx-background-color: ffffff;
    -fx-border-color: #3dadff;
    -fx-border-width: 5px;
    -fx-border-radius: 15px;
    -fx-background-radius: 22px;
}

.optionsButton:hover {
    -fx-background-color: #cfcfcf;
}


TextField {
    -fx-font-size: 16;
    -fx-border-radius: 10px;
}

Label {
    -fx-text-alignment: center;
    -fx-font-size: 18;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-padding: 2px 5px;
}

.studentNameLabel {
    -fx-font-size: 20;
    -fx-padding: 5px 10px;
    -fx-background-radius: 14px;
    -fx-border-radius: 10px;
    -fx-border-color: #6ec1ff;
    -fx-border-width: 3px;
}

CheckBox {
    -fx-font-size: 20px;
    -fx-text-fill: #0078d4;
    -fx-border-width: 3px;
}

.optionsText {
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-background-color: #757575;
}

.saveText {
    -fx-font-size: 15;
    -fx-text-fill: #3ee440;
    -fx-background-color: #a1a1a1;
    -fx-border-color: #a1a1a1;
    -fx-padding: 0px 0px;
}