# IntelliJ IDEA specific files
.idea/
*.iml
*.iws
out/
.idea_modules/
*.ipr

# Java build output
target/
bin/

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven files
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Dependencies
**/lib/*
**/build/*
